[submodule "mavlink_indoor_sdk"]
	path = mavlink_indoor_sdk
	url = https://github.com/vas59/mavlink_indoor_sdk.git
[submodule "markers_lib"]
	path = markers_lib
	url = https://github.com/vas59/markers_lib.git
[submodule "opencv_image_transfer"]
	path = opencv_image_transfer
	url = https://github.com/vas59/opencv_image_transfer.git
[submodule "led_uart_cpp"]
	path = led_uart_cpp
	url = https://github.com/vas59/led_uart_cpp
